<a href="https://colab.research.google.com/github/Arachne0/Mathematics_Basics/blob/master/Machine_Learning_for_math_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sympy as sp
x = sp.Symbol('x')
print(sp.diff(3 * x**2 + 1, x))   # **는 파이썬에서 차수를 의미한다

6*x

In [ ]:
from scipy.misc import derivative
def f(x):                     # 원래 함수 정의
    return 3*x**2+1
def d(x):
    return derivative(f, x)   # 미분한 함수
print(d(2.0))

12.0

In [ ]:
import sympy as sp
x = sp.Symbol('x')
sp.integrate(3.0*x**2+1, x)

1.0*x**3 + 1.0*x

In [ ]:
import numpy as np
from scipy.integrate import quad

def f(x):
    return 3.0*x**2 +1
i = quad(f, 0, 2)   # 적분한 다음 x가 0~2일 때까지의 적분한 값을 계산한 것
print(i[0])

10.000000000000002

In [ ]:
def f(x):                    # 함수 정의
    return (x**3 - 1)        # x = 1에서 하나의 해 존재
from scipy import optimize   # 사이파이에서 optimize 모듈 불러오기


# x축의 1.5값 지점에서 시작하여 뉴턴랩슨 메서드로 x의 해를 구함
root = optimize.newton(f, 1.5)
print(root)

1.0000000000000016

In [ ]:
# f의 미분된 함수를 표시
root = optimize.newton(f, 1.5, fprime = lambda x: 3 * x**2)
print(root)

1.0

In [ ]:
# f의 미분된 함수를 또 미분한 함수를 표시
root = optimize.newton(f, 1.5, fprime2 = lambda x: 6 * x)
print(root)

1.0000000000000016

In [ ]:
root = optimize.newton(f, 1.5, fprime = lambda x: 3 * x**2, fprime2 = lambda x: 6 * x)
print(root)

1.0

In [ ]:
cur_x = 3    # x = 3에서 계산 시작
rate = 0.01  # 학습률
precision = 0.000001       # 반복 계산에 사용할 기준(tolerance rate)
previous_step_size = 1
max_iters = 10000          # 최대 반복 횟수 10000
iters = 0   # 반복 횟수를 기록하기 위해 생성, 0부터 시작
df = lambda x: 2*(x + 5)   # 현재 예제에서 함수의 기울기

while (previous_step_size > precision) and (iters < max_iters):
  prev_x = cur_x     # 현재 x를 이전 단계 x로 저장
  cur_x = cur_x - rate * df(prev_x)         # 경사 하강법 계산
  previous_step_size = abs(cur_x - prev_x)  # x값의 변화
  iters = iters+1                           # 반복 카운터 증가

print("국소 최솟값은?", cur_x)

국소 최솟값은? -4.9999518490318176

In [ ]:
import sympy as sp
x = sp.Symbol('x')
sp.diff(3.0*x**2 + 1, x)

6.0*x

In [ ]:
from scipy.optimize import fsolve
import numpy as np
line = lambda x: x + 3
solution = fsolve(line, -2)
print(solution)

[-3.]

In [ ]:
import numpy as np
from scipy.integrate import quad

# 적분할 함수 정의
func = lambda x: np.cos(np.exp(x))**2

# 0부터 3까지의 구간에 대해 함수 func를 적분
solution = quad(func, 0, 3)
print(solution)

# 첫 번째 값은 적분, 두 번째 값은 오차

(1.296467785724373, 1.3977971863744082e-09)

In [ ]:
import numpy as np
from scipy.integrate import quad

x = np.sort(np.random.randn(150) * 4 + 4).clip(0, 5)  # 0~5 사이의 랜덤한 값 생성
func = lambda x: np.sin(x) * np.cos(x**2) + 1         # 적분할 함수
y = func(x)

fsolution = quad(func, 0, 5)              # 함수 quad로 적분하기
print(fsolution)

(5.100345067540932, 1.2589916837356385e-08)

In [ ]:
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
 
# 리스트 형태로 표현된 트랜잭션을 생성하기
dataset = [['Milk', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Coke', 'Cookie', 'Apple', 'Beans', 'Eggs', 'Yogurt'],
           ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
           ['Milk', 'Orange', 'Corn', 'Beans', 'Yogurt'],
           ['Corn', 'Cookie', 'Cookie', 'Beans', 'Ice cream', 'Eggs']]
type(dataset)   # 자료 구조 확인하기

list

In [ ]:
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
te = TransactionEncoder()   # 트랜잭션 생성을 위해 Encoder 객체 생성

# 해당 객체에 dataset 자료를 적합(fitting)시키고 트랜잭션 형태로 변환
te_ary = te.fit(dataset).transform(dataset)
te_ary

array([[ True,  True, False,  True, False,  True, False, False,  True,
        False,  True],
       [ True,  True,  True,  True, False,  True, False, False, False,
        False,  True],
       [ True, False, False, False, False,  True, False,  True,  True,
        False, False],
       [False,  True, False, False,  True, False, False, False,  True,
         True,  True],
       [False,  True, False,  True,  True,  True,  True, False, False,
        False, False]])

In [ ]:
# 데이터프레임으로 생성하며, 열 이름은 제품명으로 지정
df = pd.DataFrame(te_ary, columns = te.columns_)
df

,Apple,Beans,Coke,Cookie,Corn,Eggs,Ice cream,Kidney Beans,Milk,Orange,Yogurt
0,True,True,False,True,False,True,False,False,True,False,True
1,True,True,True,True,False,True,False,False,False,False,True
2,True,False,False,False,False,True,False,True,True,False,False
3,False,True,False,False,True,False,False,False,True,True,True
4,False,True,False,True,True,True,True,False,False,False,False

In [ ]:
import mlxtend
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules
apriori(df, min_support = 0.6)   # 최소 지지도를 0.6으로 하여 Apriori에 적용하기

    support   itemsets
0       0.6        (0)
1       0.8        (1)
2       0.6        (3)
3       0.8        (5)
4       0.6        (8)
5       0.6       (10)
6       0.6     (0, 5)
7       0.6     (1, 3)
8       0.6     (1, 5)
9       0.6    (1, 10)
10      0.6     (3, 5)
11      0.6  (1, 3, 5)

In [ ]:
# itemsets에 제품명이 나오도록 지정
apriori(df, min_support = 0.6, use_colnames = True)

    support               itemsets
0       0.6                (Apple)
1       0.8                (Beans)
2       0.6               (Cookie)
3       0.8                 (Eggs)
4       0.6                 (Milk)
5       0.6               (Yogurt)
6       0.6          (Eggs, Apple)
7       0.6        (Beans, Cookie)
8       0.6          (Beans, Eggs)
9       0.6        (Beans, Yogurt)
10      0.6         (Eggs, Cookie)
11      0.6  (Beans, Eggs, Cookie)

In [ ]:
# itemsets의 제품 개수에 따른 필터링을 위해 length 열을 추가
# 결과를 frequent_itemsets라는 이름으로 생성
frequent_itemsets = apriori(df, min_support = 0.6, use_colnames = True)
frequent_itemsets['length'] = frequent_itemsets['itemsets'].apply(lambda x: len(x))   # length 추가
frequent_itemsets

    support               itemsets  length
0       0.6                (Apple)       1
1       0.8                (Beans)       1
2       0.6               (Cookie)       1
3       0.8                 (Eggs)       1
4       0.6                 (Milk)       1
5       0.6               (Yogurt)       1
6       0.6          (Eggs, Apple)       2
7       0.6        (Beans, Cookie)       2
8       0.6          (Beans, Eggs)       2
9       0.6        (Beans, Yogurt)       2
10      0.6         (Eggs, Cookie)       2
11      0.6  (Beans, Eggs, Cookie)       3

In [ ]:
# 필터링: 패턴 내 아이템은 두 개이고, 최소 지지도는 60% 이상인 패턴만 필터링
# frequent_itemsets에서 특정 조건을 만족시키는 행들을 선택
frequent_itemsets[(frequent_itemsets['length'] == 2) & (frequent_itemsets['support'] >= 0.6)]

    support         itemsets  length
6       0.6    (Eggs, Apple)       2
7       0.6  (Beans, Cookie)       2
8       0.6    (Beans, Eggs)       2
9       0.6  (Beans, Yogurt)       2
10      0.6   (Eggs, Cookie)       2

In [ ]:
# association_rules 함수: 데이터프레임을 입력, 기본값(confidence), 향상도(lift) 등을 조건으로 사용, 
# 각 metric별 사용하는 최솟값은 min_threshold로 지정하며, 기본값은 0.8로 지정
# Apriori 결과에서 패턴을 발견, 이때 최소 신뢰도는 0.7로 지정
rules = association_rules(frequent_itemsets, metric = "confidence", min_threshold = 0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Eggs),(Apple),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
1,(Apple),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
2,(Beans),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
3,(Cookie),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
4,(Beans),(Eggs),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
5,(Eggs),(Beans),0.8,0.8,0.6,0.75,0.937500,-0.04,0.8
6,(Beans),(Yogurt),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
7,(Yogurt),(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
8,(Eggs),(Cookie),0.8,0.6,0.6,0.75,1.250000,0.12,1.6
9,(Cookie),(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
10,"(Beans, Eggs)",(Cookie),0.6,0.6,0.6,1.00,1.666667,0.24,inf
11,"(Beans, Cookie)",(Eggs),0.6,0.8,0.6,1.00,1.250000,0.12,inf
12,"(Eggs, Cookie)",(Beans),0.6,0.8,0.6,1.00,1.250000,0.12,inf
13,(Beans),"(Eggs, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
14,(Eggs),"(Beans, Cookie)",0.8,0.6,0.6,0.75,1.250000,0.12,1.6
15,(Cookie),"(Beans, Eggs)",0.6,0.6,0.6,1.00,1.666667,0.24,inf